.bg {
    background-image: url("../../../assets/img/bgchangeinfo.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 60%;
    height: 100%;
}
.btn {
    background-image: url("../../../assets/img/buttonchangeinfo.png");
    background-repeat: no-repeat;
    background-position: center;
}
.text {
    color: #f1e9dc;
    text-align: center;
    font-family: Skranji;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
