
.mainAvatar {
    display: flex;
    width: 25%;
    background-image: url("../src/assets/img/profile.png");
    justify-content: center;
    text-align: center;
    height: 50rem;
    margin-left: 6rem /* 96px */;
    margin-top: 6rem /* 96px */;
    border-radius: 10px;
}
.bgInventory {
    background-image: url("../../assets/img/bginventory.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.text_zero {
    width: 6rem;
    position: relative;
    background-image: url("../../assets/img/zero_pc.png");
    background-size: 100% 100%;
}
.heroImage {
    display: none;
}
.img_zero {
    text-align: center;
    width: 439px;
    color: white;
    position: relative;
    background-image: url("../../assets/img/zero_pc.png");
    background-size: 100% 100%;
}
.filterInventory {
    padding-top: 6rem;

}
.filterInventory img {
    width: 15rem;
}
.zeroInventory {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Skranji", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-top: 6rem;
    padding-left: 12rem;
}
.text_zero {
    width: 439px;
}
.zero_res {
    display: none;
}
.img_inventory {
    width: 15rem;
}
.mainInventory {
    padding-left: 6rem/* 96px */;
    padding-right: 6rem/* 96px */;
}
@media screen and (max-width: 1024px) {

    .bgInventory {
        padding-top: 30px;
        width: 100%;
        background-image: url("../src/assets/img/Fixed.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .mainAvatar {
        display: none;
    }
    .filterInventory {
        display: none;
    }
    .heroImage {
        padding-top: 50px;
        display: block;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        font-family: "Skranji", system-ui;
        font-weight: 400;
        font-style: normal;
    }
    .heroImage img {
        margin-right: auto;
        margin-left: auto;
    }
    .img_zero {
        display: none;
    }
    .zeroInventory {
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .zero_res {
        font-size: 1rem;
        display: block;
        width: 18rem;
        color: white;
        background-image: url("../../assets/img/text_zero.png");
        background-size: 100% 100%;
    }
    .img_inventory {
        width: 11rem;
        margin-right: auto;
        margin-left: auto;
    }


    .listInventory{
        margin-left: auto;
        margin-right: auto;
    }
    .mainInventory{
        padding: 0;
    }
    .padding{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
