.test {
    border: 5px solid black;
}
.mainInventory {
    margin-left: 162px;
    margin-top: 57px;
}
.mainAvatar {
    margin-top: 57px;
}

.bgInventory {
    background-image: url("../../assets/img/bginventory.png");
}
