@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    overflow-y: auto;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
