.line {
    position: relative;
    width: 390px;
    margin-top: 24px;
}

.line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 94%;
    border-top: 2px solid #453f3f;
    z-index: 2;
}
