.size {
    width: 240px;
    height: 380px;
}

.sizeAvatar {
    width: 223px;
    height: 228px;
}
.posAva {
    position: absolute;
    top: 6px;
    left: 9px;
}
.backgroundHeroCard {
    background-image: url("../../../assets/img/hero-card.png");
}
.avat {
    background-image: url("../../../assets/img/avatar.png");
}
.textsize {
    font-size: 25px;
}
.info {
    display: flex;
}
.sizeInfo {
    height: 50px;
    width: 220px;
}
.price {
    margin-bottom: 8px;
}
@media screen and (max-width: 768px) {
    .price {
        margin-bottom: 20px;
        font-size: 15px;
        margin-left: 40px;
    }
    .sizeAvatar {
        width: 170px;
        height: 175px;
    }
    .size {
        width: 190px;
        height: 300px;
    }
    .info {
        color: white;
    }
    .backgroundHeroCard {
        background-size: 100% 100%;
    }
    .sizeInfo {
        height: 15px;
        width: 100px;
    }
    .textsize {
        font-size: 8px;
    }

    .setPosSpd {
        position: absolute;
        bottom: 57px;
        left: 15px;
        font-size: 12px;
    }
    .setPosDps {
        position: absolute;
        bottom: 56px;
        left: 74px;
        font-size: 12px;
    }
    .setPosHp {
        position: absolute;
        bottom: 88px;
        left: 19px;
        font-size: 12px;
    }
    .setPosAtk {
        position: absolute;
        bottom: 88px;
        left: 90px;
        font-size: 12px;
        width: 50px;
        display: inline-block;
    }

    .sizeAtb {
        display: inline-block;
        width: 100px;
    }
    .infoFooterRight {
        position: absolute;
        left: 95px;
        width: 93px;
        height: 34px;

        bottom: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
    .infoFooterLeft {
        position: absolute;
        bottom: 6px;
        left: 1px;
        width: 93px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
}

.posFooterRight {
    position: absolute;
    left: -15px;
}
@media screen and (min-width: 1024px) {
    .sizeInfo {
        height: 50px;
        width: 220px;
    }
    .setPosSpd {
        position: absolute;
        bottom: 55px;
        left: 22px;
    }
    .setPosDps {
        position: absolute;
        bottom: 54px;
        left: 100px;
    }
    .setPosHp {
        position: absolute;
        bottom: 48px;
        left: 27px;
    }
    .setPosAtk {
        position: absolute;
        bottom: 48px;
        left: 100px;
    }
    .infoFooterRight {
        position: absolute;
        left: 75px;
        width: 110px;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .infoFooterLeft {
        position: absolute;
        bottom: 5px;
        left: -15px;
        width: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
