.container {
    color: white;
    background-image: url("../../../assets/img/confirm_listing.png");
    z-index: 999;
    width: 988px;
    height: 664px;
    padding: 40px;
    height: 664px;
    padding: 40px;
}

.center {
    width: 875px;
    height: 413px;
}

.avatar {
    width: 352px;
    height: 352px;
}

.button {
    width: 400px;
    height: 58px;
}
