.container{
    color: white;
    background-image: url('../../../assets/img/Group37032.png');
    z-index: 999;
    width: 660px;
    height: 450px;
    padding: 40px;
    font-family: Skranji;
}

.arrow{
    width: 126px;
    height:  121px;
}

.view_item{
    width: 400px;
    height:60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}