@font-face {
    font-family: NuntoSans-Black;
    src: url('../../../../font/static/NunitoSans_10pt-Bold.ttf');
}

.fonttext {
  text-align: center;
  font-family: NuntoSans-Black;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  
}
