
.container {
   margin: 3rem;
   width: 100%;
}

.race_class{
    bottom: -5rem;
}

@media screen and (max-width: 1024px) {
    .container {
            width: 100%;
            margin: 5%;
        }
    
    .race_class {
        bottom: -14%;
    }
}