.sizeSidebar {
    margin-left: 96px;
    width: 468px;
    margin-top: 20px;
}
@media screen and (max-width: 1024px) {
    .sizeSidebar {
        margin-left: 0;
        width: 430px;
        margin-top: 0px;
        position: absolute;
        z-index: 999;
    }
}
