@media screen and (max-width: 1024px) {
    .posSignUp {
        background-image: url("../../assets/img/button.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 250px 40px;

        width: 170px;
        height: 30px;
        bottom: 30px;
        left: 50px;
    }
}
