.container {
    @apply flex justify-center items-center;
}

@media screen and (max-width: 768px) {
    .navheader,
    .clickbutton {
        display: none;
    }
    .sizenav {
        width: 20px;
        height: 16px;
        margin-left: 50px;
    }
    .bgopa {
        background: rgba(23, 10, 2, 0.9);

        backdrop-filter: blur(2px);
    }
    body {
        width: 450px;
    }
}

.clickbutton {
    @apply cursor-pointer hover:bg-violet-600 rounded-lg p-2 active:bg-violet-700  mx-3;
}

.buttonProf {
    width: 200px;
    height: 40px;
    border: 1px solid white;
}
