  .containerActivities{
     display: flex;
     
 }
 .container{
    background-image: url('../src/assets/img/bginventory.png');
    background-size: 100% 100%;
    background-repeat:no-repeat ;
 }
 .skranji-regular {
    font-family: "Skranji", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .skranji-bold {
    font-family: "Skranji", system-ui;
    font-weight: 700;
    font-style: normal;
  }
.containerProfile{
    display: flex;
    width: 25%;
    background-image: url('../src/assets/img/profile.png');
    justify-content: center;
    text-align: center;
    height: 800px;
    margin-left: 6rem/* 96px */;
    margin-top: 6rem/* 96px */;
}
.tableActivities{
    background-color: rgba(23,10,2,0.8);
    width: 100%;
    margin-left: 6rem/* 96px */;
    margin-right: 6rem/* 96px */;
    margin-top: 6rem/* 96px */;
    justify-content: center;
}
.heroImage{
    display: none;
}
@media screen and (max-width: 768px) {
    .containerActivities{
        display: block;
    }
    .containerProfile{
        display: none;
    }
    .container{
        width: 100%;
        background-image: url('../src/assets/img/Fixed.png');
        background-size: 100% 100%;
        background-repeat:no-repeat ;

    }
    .containerProfile{
        width: 100%;
        margin-left: 10px;
    }
    .tableActivities{
        margin-left: 12px;
        margin-right: 0px;
        margin-top: 0px;
        padding-top: 10px;
        padding-bottom: 15px;
        width: 95%;
        
    }
    .heroImage{
        padding-top: 50px;
        display: block;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        font-family: "Skranji", system-ui;
        font-weight: 400;
        font-style: normal;
    }
    .heroImage img {
        margin-right: auto;
        margin-left: auto;
    }
    .title{
        display: none;
    }
}