.bgSize {
    background-image: url("../../assets/img/bg-login.png");
}

.sizePage {
    width: 669px;
    height: 629px;
}

.sizeClose {
    width: 50px;
    height: 50px;
}
@media screen and (max-width: 1024px) {
    .sizePage {
        width: 100%;
    }
    .bgSize {
        background-size: 100% 70%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../../assets/img/mobileform.png");
    }
    .sizeClose {
        background-image: url("../../assets/img/xbutton.png");
        width: 40px;
        height: 40px;
        position: absolute;
        top: 95px;
        right: 15px;
        z-index: 999;
    }
    .sizeDiv {
        width: 280px;
        height: 350px;
    }
}
